@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6A859C;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  scroll-behavior: smooth;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 58.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header-top {
  background-color: #fff;
  border-bottom: 1px solid rgb(115, 114, 114);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 0.625rem 0;
  min-height: 2.5rem;
  /* Set the navbar to fixed position */
  position: fixed;
  /* Position the navbar at the top of the page */
  top: 0;
  width: 100%;
  z-index: 99;
}

.header-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo {
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69B9FF;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.5rem;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.menu__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  font-weight: 400;
  font-size: 16px;
}

.no-webp .header-main-block{
  background: url("../img/header/bg.jpg") 0 0/cover no-repeat; }

.header-main-block {
  margin-top: 45px;
  padding: 195px 0;
}

.header-main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main-block__title {
  font-weight: 400;
  font-size: 59px;
  line-height: 102%;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 6.625rem;
}

.header-main-block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3.1875rem;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.header-main-block__signup {
  display: inline-block;
  border-radius: 4px;
  padding: 12px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-main-block__signup:hover {
  background: #69B9FF;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  margin-bottom: 2.1875rem;
}

.footer__column {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  height: 100%;
}

.footer__column-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 25px;
}

.footer__column-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  color: #6A859C;
  margin-bottom: 25px;
}

.footer__column-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin-bottom: 25px;
}

.footer__column-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 1.94;
  color: #668CAD;
  margin-bottom: 12px;
  border-bottom: 1px solid #D5D5E0;
}

.footer__copyright {
  background: #383838;
}

.footer__copy {
  min-height: 100px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  text-align: center;
  color: #9E9E9E;
  padding: 40px 0;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column-item_icon {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: 11px;
}

.footer__column-item_link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 13px;
  line-height: 1.94;
  color: #668CAD;
  border-bottom: 1px solid #D5D5E0;
}

.what-we-do {
  padding-bottom: 5rem;
}

.what-we-do__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.what-we-do__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  text-align: center;
  min-width: 290px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.what-we-do__item:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.item-what-we-do {
  padding: 35px 16px 23px 16px;
}

.item-what-we-do__icon {
  margin-bottom: 29px;
}

.item-what-we-do__title {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.item-what-we-do__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
}

.services {
  background: #192024;
}

.services__item {
  padding: 15px;
  text-align: center;
  gap: 20px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-bottom: 80px;
}

.title-block {
  padding: 79px 0 60px 0;
}

.title-block__subtitle {
  color: #FFFFFF;
}

.item-services__image {
  display: block;
  padding-bottom: 67%;
  margin-bottom: 19px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0 0 5px rgba(225, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(225, 255, 255, 0.5);
  opacity: 0.5;
}

.item-services__image:hover {
  -webkit-box-shadow: rgba(225, 255, 255, 0.35) 0px 5px 15px;
          box-shadow: rgba(225, 255, 255, 0.35) 0px 5px 15px;
  opacity: 1;
}

.item-services__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.item-services__text {
  padding: 0 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
  gap: 1rem;
}

.tabs__title {
  background: #92A0AD;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1px 30px;
}

.tabs__body {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

.tabs__body-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 1.16;
  text-align: center;
  color: #676770;
  margin-bottom: 14px;
}

.tabs__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.92;
  text-align: center;
  color: #6A859C;
  margin: 0px auto;
  max-width: 44.3125rem;
  margin-bottom: 5.625rem;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

._tab-active {
  background: #2E80B6;
}

.tabs-body__image {
  margin-bottom: 16px;
  padding-bottom: 47%;
}

.title-block__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 17px;
}

.title-block__title_white-text {
  color: white;
}

.title-block__subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8E8E9C;
}

.title-block__subtitle_white-text {
  color: white;
}

.btn-learn-more {
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 12px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-learn-more:hover {
  background: #69B9FF;
  -webkit-box-shadow: rgba(225, 255, 255, 0.35) 0px 5px 15px;
          box-shadow: rgba(225, 255, 255, 0.35) 0px 5px 15px;
}

@media (max-width: 61.99875em) {
  .what-we-do__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .tabs__navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #0082F3;
    text-decoration: underline;
  }
}

.webp .header-main-block{ background: url(../img/header/bg.webp) 0 0/cover no-repeat; }